{% extends 'base.html.twig' %}

{% block title %}Mr.U-Smiley Inscription{% endblock %}

{% block body %}
{{ form_start(form, {'attr': {'class': 'w-full'}}) }}
<div class='w-full flex flex-col items-center justify-center px-6 py-4 mx-auto md:h-screen lg:py-0'>
      {% set formErrors = form.vars.errors.form.getErrors(true) %}

      {% if formErrors|length %}
        <div class="flex items-center p-4 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50">
          <ul>
              {% for error in formErrors %}
                  <li>{{ error.message }}</li>
              {% endfor %}
          </ul>
        </div>
      {% endif %}
      {{ form_widget(form)}}
  {{ form_end(form) }}
</div>

{% endblock %}