<footer class="bg-gray-50 w-full mx-auto p-4 md:py-8 fixed bottom-8">
  <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 <a href="/" class="hover:underline">Mr.U-Smiley Groupe</a>. Tous droits réservés.</span>
</footer>

